<a href="https://colab.research.google.com/github/Ron-Wu/Machine-learning-0602/blob/main/titanic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from urllib.request import urlretrieve
url = "https://github.com/Ron-Wu/Machine-learning-0602/raw/main/titanic/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Ron-Wu/Machine-learning-0602/raw/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7fe479105550>)

In [16]:
import pandas as pd
train_df = pd.read_csv("train.csv", encoding = "utf-8")
test_df = pd.read_csv("test.csv", encoding = "utf-8")

In [17]:
# train_df  # 測試看是否有成功列出訓練資料
# test_df  # 測試看是否有成功列出測試資料

In [18]:
data = pd.concat([train_df, test_df], ignore_index = True)
data = data.drop(["PassengerId", "Survived"], axis = 1)

# data = pd.concat([train_df, test_df], ignore_index=True)
# data = data.drop(["PassengerId", "Survived"], axis=1)

In [19]:
na = data.isna().sum()
# series[帶入跟你的資料筆數一樣多True/False list]
na[na > 0].sort_values()
# na[na > 0].sort_values(ascending=False)  ## ascending=False 讓資料倒序

Fare           1
Embarked       2
Age          263
Cabin       1014
dtype: int64

In [21]:
def cabin_head(s):
  if not pd.isna(s):
    return s[0]
data["Cabin"] = data["Cabin"].apply(cabin_head)

0       None
1          C
2       None
3          C
4       None
        ...
1304    None
1305       C
1306    None
1307    None
1308    None
Name: Cabin, Length: 1309, dtype: object

In [22]:
dic = data["Ticket"].value_counts()
data["Ticket"] = data["Ticket"].apply(lambda t:dic[t])

0       1
1       2
2       1
3       2
4       1
       ..
1304    1
1305    3
1306    1
1307    1
1308    3
Name: Ticket, Length: 1309, dtype: int64